body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(249, 248, 253);
}

header{
    background-color: rgb(238, 160, 5);

    color: white;
    padding: 10px;
}
nav a{
    margin:10px;
    text-decoration: none;
}
section{
    padding: 20px;
} 
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.centro{
    display: block;
    margin: 0 auto;
}
.footer {
  background-color: #111;
  color: white;
  padding: 40px 60px;
  
}
.a{
    text-align: center;
}
.columna {
  width: 30%;
  text-align: center;
}
