body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffcfc;
}

header{
    background-color:#223E4D;
    color: white;
    padding: 10px;
}
nav a{
    margin:10px;
    text-decoration: none;
    color: white;
}
section{
    padding: 20px;
} 
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.centro{
    display: block;
    margin: 0 auto;
}
.footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 40px 60px; 
}
.a{
    text-align: center;
    
}
